
    body{
        background-color: white;
        color: black;
    }
    .nav{
        margin: 0%;
        background-color: sandybrown;
        border-style: solid;
        border-color: aliceblue;
        border-width: 20px;
        padding: 10px;
        border-radius: 50px;
        
        bottom: 0%;
        position: fixed;
        width: 95%;
    }
    
    h1{
        justify-content: center;
        text-align: center;
        border-bottom: 30px;
       
    }
    h2{
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .name{
        
        display: block;
        padding: 20px;
    }
    .main{
        display: flexbox;
        flex-direction: row;
        flex-wrap: wrap;
        border: 0px;
        min-width: auto;
    }
